

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Satoshi;
    src: url(/build/assets/fonts/CabinetGrotesk-Regular.otf);
}

@font-face {
    font-family: CabinetGrotesk;
    src: url(/build/assets/fonts/Satoshi-Regular.otf);
}


body p{
    font-family: Satoshi;
}

body h1, h2, a, li{
   font-family: CabinetGrotesk;
}


    @media (min-width: 1024px) {
      .responsive-bg {
        background-image: url('./assets/img/mobile\ black\ bg.png') !important;
      }
    }

    .card {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.5s ease-in-out;
    }

    .card.show {
        opacity: 1;
        transform: translateY(0);
    }



