

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family:syne;
    src: url(/build/assets/fonts/Syne-Regular.ttf);
}

@font-face {
    font-family:Poppins;
    src: url(/build/assets/fonts/Poppins-Regular.ttf);
}



body p{
    font-family:Poppins;
}

body h1, h2, a, li{
   font-family:syne;
}





      @keyframes slide {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-50%);
        }
      }

      .animate-slide {
        width: max-content;
        animation: slide 20s linear infinite;
      }

      .active-dot {
    background-color: #f97316; /* Tailwind orange-500 */
  }
      
   
  
 

